{"swagger":"2.0","info":{"title":"ToyotaLogisticsSystem","version":"1.0","description":"Import from \"ToyotaLogisticsSystem\" Function App"},"host":"toyotalogisticssystem-apim.azure-api.net","basePath":"/ToyotaLogisticsSystem","schemes":["https"],"securityDefinitions":{"API Key":{"type":"apiKey","in":"header","name":"Ocp-Apim-Subscription-Key"}},"security":[{"API Key":[]}],"paths":{"/VehicleRequest":{"get":{"operationId":"get-vehiclerequest","summary":"VehicleRequest","parameters":[{"name":"vin","in":"query","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/default"},"examples":{"application/json":{"vin":"JTEES42A082109390","make":"Toyota","model":"Highlander","body":"4dr SUV","year":2020,"transmission":"automatic","accessories":[{"assecoryid":"61a6e7c5-e5ec-ea11-a817-000d3a5bf119","accesorytype":"Exterior","accessoryname":"Alloy Wheel Locks"},{"assecoryid":"14ef8c76-e7ec-ea11-a817-000d3a5bf119","accesorytype":"Exterior","accessoryname":"Ball Mount"},{"assecoryid":"945c59ce-e7ec-ea11-a817-000d3a5bf119","accesorytype":"Exterior","accessoryname":"Blackout Emblem Overlays"},{"assecoryid":"c14629eb-72ec-ea11-a817-000d3a5bf119","accesorytype":"Interior","accessoryname":"Frameless HomeLink Mirror"},{"assecoryid":"047a4d06-ebec-ea11-a817-000d3a5bf119","accesorytype":"Interior","accessoryname":"All-Weather Floor Liners"},{"assecoryid":"94451b31-ebec-ea11-a817-000d3a5bf119","accesorytype":"Interior","accessoryname":"Cargo Cover"}]}}}}}},"/AccessoriesInventoryRequest":{"post":{"operationId":"post-accessoriesinventoryrequest","summary":"AccessoriesInventoryRequest","parameters":[{"name":"inventoryinput","in":"body","schema":{"$ref":"#/definitions/inventoryinput"},"description":"Request payload"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/inventoryoutput"},"examples":{"application/json":"[\r\n\t{\r\n        \"accesoryid\": \"3a0f55a3-e8ec-ea11-a817-000d3a5bf119\",\r\n        \"accessoryname\": \"Door Edge Guards\",\r\n\t\t\"inventoryquantity\": 2,\r\n\t\t\"eta\": 0 \t\t\r\n    }, {\r\n        \"accesoryid\": \"14c79c0e-eaec-ea11-a817-000d3a5bf119\",\r\n        \"accessoryname\": \"Roof Rack Cross Bars (L/LE)\",\r\n\t\t\"inventoryquantity\": 0,\r\n\t\t\"eta\": 5 \t\r\n    }, {\r\n        \"accesoryid\": \"c14629eb-72ec-ea11-a817-000d3a5bf119\",\r\n        \"accessoryname\": \"Frameless HomeLink Mirror\",\r\n\t\t\"eta\": 0 \t\r\n    }, {\r\n        \"accesoryid\": \"047a4d06-ebec-ea11-a817-000d3a5bf119\",\r\n        \"accessoryname\": \"All-Weather Floor Liners\",\r\n\t\t\"eta\": 0 \t\r\n    }\r\n]"}}}}}},"definitions":{"default":{"type":"object","properties":{"vin":{"type":"string"},"make":{"type":"string"},"model":{"type":"string"},"body":{"type":"string"},"year":{"type":"integer"},"transmission":{"type":"string"},"accessories":{"type":"array","items":{"required":["assecoryid","accesorytype","accessoryname"],"type":"object","properties":{"assecoryid":{"type":"string"},"accesorytype":{"type":"string"},"accessoryname":{"type":"string"}}}}}},"inventoryoutput":{"type":"array","items":{"required":["accesoryid","accessoryname","eta"],"type":"object","properties":{"accesoryid":{"type":"string"},"accessoryname":{"type":"string"},"inventoryquantity":{"type":"integer"},"eta":{"type":"integer"}}}},"inventoryinput":{"type":"object","properties":{"ordernumber":{"type":"string"},"accessories":{"type":"array","items":{"required":["accesoryid","accessoryname"],"type":"object","properties":{"accesoryid":{"type":"string"},"accessoryname":{"type":"string"}}}}},"example":{"ordernumber":"PUL234657","accessories":[{"accesoryid":"3a0f55a3-e8ec-ea11-a817-000d3a5bf119","accessoryname":"Door Edge Guards"},{"accesoryid":"14c79c0e-eaec-ea11-a817-000d3a5bf119","accessoryname":"Roof Rack Cross Bars (L/LE)"},{"accesoryid":"c14629eb-72ec-ea11-a817-000d3a5bf119","accessoryname":"Frameless HomeLink Mirror"},{"accesoryid":"047a4d06-ebec-ea11-a817-000d3a5bf119","accessoryname":"All-Weather Floor Liners"}]}}},"tags":[]}